{% extends 'base.html' %}
{% block content %}
<h1>Create Invoice</h1>
<form method="POST" action="/create_item">
    {{ form.csrf_token }}
    <fieldset class="item_name">
        {{ form.item_name.label }}
        {{ form.item_name(placeholder='Item name') }}

        {% if form.item_name.errors %}
          <ul class="errors">
            {% for error in form.item_name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <fieldset class="item_pric">
        {{ form.item_price.label }}
        {{ form.item_price(placeholder='Item price') }}

        {% if form.item_price.errors %}
          <ul class="errors">
            {% for error in form.item_price.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <div class="submit-button">
        {{ form.submit }}
    </div>
</form>
{% endblock %}