{% extends 'base.html' %}
{% block title%}Delete item{% endblock %}
{% block content %}
<div class="col-lg-6">
    <h3>Do you wish to delete : Name: {{item.item_name}} - Price: {{item.item_price}}</h3>
    <h4>{{message}}</h4>
    <div class="form-outline">
        <div class="confirmation-row">
            <form method="POST" action="/delete_item_confirmation_delete/{{item.item_id}}">
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-danger") }}
            </form>
            <a href="{{url_for('home')}}"><button class="btn btn-primary" >Don't delete</button></a>
        </div>
    </div> <!-- div form-outlne -->
</div>
{% endblock %}