{% extends 'base.html' %}
{% block content %}
<h1>Delete item</h1>
<form method="POST" action="/delete_item">
    {{ form.csrf_token }}
    <fieldset class="invoice_id">
        {{ form.item_id.label }}
        {{ form.item_id(placeholder='Item ID') }}

        {% if form.item_id.errors %}
          <ul class="errors">
            {% for error in form.item_id.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <div class="submit-button">
        {{ form.submit }}
    </div>
</form>
{% endblock %}