{% extends 'base.html' %}
{% block title%}Delete invoice{% endblock %}
{% block content %}
<div class="col-lg-6">
    <h2>Do you wish to delete Invoice : {{invoice.invoice_id}}</h2>
    <h4>{{message}}</h4>
    <div class="form-outline">
        <div class="confirmation-row">
            <form method="POST" action="/delete_invoice_confirmation_delete/{{invoice.invoice_id}}">
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-danger") }}
            </form>
            <a href="{{url_for('home')}}"><button class="btn btn-primary" >Don't delete</button></a>
        </div>
    </div> <!-- div form-outlne -->
</div>
{% endblock %}