{% extends 'base.html' %}
{% block content %}
<h1>Edit invoice line. Name: {{invoice_line.item_name}} Quantity: {{invoice_line.quantity}} Price: {{invoice_line.price}}</h1>
<form method="POST" action="/edit_invoice_line_information_update/{{invoice_line.invoice_id}}&{{invoice_line.item_id}}">
    {{ form.csrf_token }}
    <fieldset class="item_name">
        {{ form.item_name.label }}
        {{ form.item_name(placeholder='Item name') }}

        {% if form.item_name.errors %}
          <ul class="errors">
            {% for error in form.item_name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <fieldset class="item_price">
        {{ form.item_price.label }}
        {{ form.item_price(placeholder='Item price') }}

        {% if form.item_price.errors %}
          <ul class="errors">
            {% for error in form.item_price.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <fieldset class="quantity">
        {{ form.quantity.label }}
        {{ form.quantity(placeholder='Quantity') }}

        {% if form.quantity.errors %}
          <ul class="errors">
            {% for error in form.quantity.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>


    <div class="submit-button">
        {{ form.submit }}
    </div>
</form>
{% endblock %}