{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
          x
        </button>
        {{ message }}
      </div>
    {% endfor %}
<h1>Edit Client</h1>
<form method="POST" action="/edit_client_get_id">
    {{ form.csrf_token }}
    <fieldset class="clientID">
        {{ form.clientID.label }}
        {{ form.clientID(placeholder='Client ID') }}

        {% if form.clientID.errors %}
          <ul class="errors">
            {% for error in form.clientID.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </fieldset>

    <div class="submit-button">
        {{ form.submit }}
    </div>
</form>
{% endblock %}