{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="form-group col-sm-10">
            <h1>Edit Client</h1>
            <div class="form-outline">
                <form method="POST" action="/edit_client_get_id">
                    {{ form.csrf_token }}
                    <fieldset class="clientID">
                        <div class="form-group">
                            {{ form.client_id.label(class="form-label") }}
                            {{ form.client_id(class="form-control") }}
                        </div>
                        {% if form.client_id.errors %}
                          <ul class="errors">
                            {% for error in form.client_id.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                    </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                </form>
            </div> <!-- div form-outline -->
        </div> <!-- div form-group col-lg-6 -->
        <div class="right-panel col-lg-4">

        </div>
    </div>
</div>
{% endblock %}