{% extends 'view_items.html' %}
{% block title%}View items{% endblock %}
{% block request_view %}
    <div class="overflow-hidden">
        <div class="views_form">
            <div class="form-content">
                <div class="form-header">
                    <h4>Search item by ID</h4>
                    <p>Enter the ID of the item</p>
                </div>
                <div class="form-inputs">
                     <form method="POST" action="/view_items_by_item_id">
                        {{ form.csrf_token }}
                            <fieldset class="item_id">
                                <div class="form-group">
                                    {{ form.item_id.label(class="form-label") }}
                                    {{ form.item_id(class="form-control") }}
                                </div>
                                {% if form.item_id.errors %}
                                  <ul class="errors">
                                    {% for error in form.item_id.errors %}
                                      <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                            </fieldset>
                         <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}