{% extends "base.html" %}

{% block content %}

      <div class="view">
          <div class="view-client-item-left">
              <h4 class="th-client-item">Invoices associated to this client</h4>
              <table class="table">
                <tbody>
                <tr>
                      <th>Client Name:</th>
                      <th>{{client.name}}</th>
                    </tr>
                    <tr>
                      <th>Client ID:</th>
                      <th>{{client.client_id}}</th>
                    </tr>
                    <tr>
                      <th>Reference person:</th>
                      <th>{{client.reference}}</th>
                    </tr>
                    <tr>
                      <th>Client phone:</th>
                      <th>{{client.phone}}</th>
                    </tr>
                    <tr>
                      <th>Client email:</th>
                      <th>{{client.email}}</th>
                    </tr>
              </tbody>
            </table>
          </div>
          <div class="view-item table-view-quick-access">
              <h4 class="th-client-item">Invoices associated to this client</h4>
              <table class="table">
                    <tr>
                      <th>Invoice ID</th>
                      <th>Invoice Total</th>
                    </tr>
                </thead>
                <tbody>
                  {% for invoice in invoices %}
                      <tr>
                          <td><a href="{{url_for('view_invoice', invoice_id=invoice.invoice_id)}}">{{invoice.invoice_id}}</a></td>
                          <td>{{invoice.total}}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
            </table>
          </div>
      </div>
{% endblock %}