::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F1FAEE;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #457B9D;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: #F1FAEE;
  color: #252422;
}

a {
  color: #1D3557;
  text-decoration: none;
}

a:hover {
  color: #1D3557;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(168, 218, 220, 0.4);
}

.flashes {
    list-style-type: none;
    padding: 0px;
}

.flashes li {
    background-color: #A8DADC;
    color: #252422;
}

.form-outline {
    min-width: 200px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}
@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
}
.logo span {
  font-size: 30px;
  font-weight: 700;
  color: #1D3557;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #F1FAEE;
  padding-left: 20px;
}

.header-nav {
  margin-left: auto;
  padding-right: 20px;
}

.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav .nav-icon {
  font-size: 20px;
  color: #012970;
}
.header-nav ul li {
  margin: 30px;
  padding: 0;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}
.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}
.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}
.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}
.sidebar-nav .nav-link .fa-angle-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .fa-angle-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-link:not(.collapsed) .fa-angle-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
  color: #4154f1;
}
.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

.main {
    margin-left: 300px;
    margin-top: 60px;
}

.home-container {
}

.home {
    margin: 5px;
    box-shadow: rgba(29, 53, 87, .1) 1px 2px 4px;
    height: 99%;
    width: 99%;
}
.content {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin: 50px 50px 20px 20px;
    position: absolute;
    width: 70%;
    height: 80%;
}

.btn-primary {
	background-color: #457B9D;
	border-color: #457B9D;
	font-weight: 500rem;
}

.btn-primary:hover {
	background-color: #1D3557;
	border-color: #1D3557;
	font-weight: 600;
}

.btn-danger {
    background-color: #E63946;
    border-color: #E63946;
}

.right-panel {
    float: right;
}
.right-panel h3 {
    padding-bottom: 50px;
}

.right-panel-edit p {
    font-size: 1.5rem;
    font-weight: 500;
}

.right-panel-table {
    display: flex;
    height: 800px;
}

.table-view {
    max-height: 60%;
    overflow: hidden;
    width: 100%;
}

.right-panel-table table {
}

.confirmation-row form {
    display: inline;
}

.view {
    width: 100%;
    margin: auto;
    align-items: stretch;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    max-height: 100vh;
}

.view .page-content {
    min-width: 800px;
    min-height: 700px;
    height: 100%;
    width: 100%;
}

.view .button-bar {
    height: 50px;
    background-color: #A8DADC;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.view .page-content .button-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
}

.view .page-content .button-bar li {
    font-size: 1.3rem;
    display: flex;
    width: 25%;
    height: 100%;
    position: relative;
    background: #457B9D;
}

.view .page-content .button-bar li a {
    text-decoration: none;
    padding-top: 10px;
    color: #F1FAEE;
    display: block;
    width: 100%;
    text-align: center;
}

.view .page-content .button-bar li a:hover {
    color: #1D3557;
    background: #A8DADC;
    text-decoration: none;
}

.view .page-content .request-view {
    height: 80%;
    overflow-y: scroll;
}

.view .page-content .request-view .views_tbody {

}


.view-invoice-header {
    width: 150px;
}

.view-invoice-end {
    width: 300px;
}

.view-invoice {
    height: 100%;
    overflow-y: auto;
}

.view-client-item {
    height: 100%;
    overflow-y: auto;
    width: 50%;
}

.view-client-item-left {
    width: 40%;
    float: left;
    padding-right: 20px;
}

.table-view-quick-access {
    max-height: 80%;
    overflow: auto;
    width: 40%;
}

.table-view-quick-access-invoices {
    max-height: 80%;
    overflow: auto;
    width: 60%;
}

.th-client-item {
    background-color: #F1FAEE;
    color: #252422;
    width: 100%;
    border-top: 1px solid #dee2e6 !important;
}

.table-dark {
    background-color: #F1FAEE;
}

.table-dark th {
    color: #1D3557;
}

.views_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.views_form .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.views_form input[type='text'] {
    width: 150px;
}

#create-invoice-lines {
    height:100%;
    overflow: hidden;
    overflow: scroll;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}